#intro_youserbase{
	height: 427px;
	background: #182C4A;
	border-radius: 10px;
	margin: 0 0 15px 0;
	-moz-border-radius: 10px;
	padding: 1px 0 0 0;
	position: relative;
	-webkit-border-radius: 10px;

}
#intro_youserbase div.kernel{
	color: white;
	margin: 165px 45px 45px;
}
#intro_youserbase p strong, #intro_youserbase h1{
	font-size: 31px;
	font-weight: 900 !important;
}
#intro_youserbase .controls  {
	position: absolute;
	top: 20px;
	left: 37px;
}
#intro_youserbase .controls a img {
	margin: 0;
	padding: 0;
	opacity: 0.5;
}
#intro_youserbase .controls a:hover img, #intro_youserbase .controls img {
	opacity: 1;
}
#intro_youserbase .controls a:hover {
	margin: 0 !important;
	padding: 0 !important;
	border-style: none !important;
	background: none !important;
}
#intro_youserbase p{
	padding-left: 0;
	
}
#intro_youserbase div.wrap {
	padding: 13px 0 0 0;
}
.intro_picto {
	float: left;
	padding: 0 0 40px 0;
}
