.device_header {
	border: 1px solid #fefefe;
	overflow:visible;
	position: relative;
}
#data_sheets_global_box {
	position: absolute;
	top: 10px;
	left: 0;
}
#data_sheets_global_box a{
	margin: 3px 0;
}
.device_actions {
	float: right;
	padding: 0 0 5px;
	width: 26px;
}
.device_actions img {
	padding: 1px;
}
div.device_rating {
	margin: 5px 0 20px 0;
	cursor: pointer;
}

div.device_pictures {
	width:80px;
	height:120px;
}